[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "data-analisis-jb"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-openapi3 = { extras = ["scalar", "elements", "swagger"], version = "*" }

[dev-packages]
