[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "data-analisis-jb"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-bcrypt = "*"
flask-openapi3 = {extras = ["elements", "swagger", "scalar"], version = "*"}

[dev-packages]
